@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

body {
    margin-left: 40px;
    margin-right: 40px;
    background-color: #F2F2F2;
    font-family: 'Zilla Slab', serif;
    text-align:center;
}

a {
    color:#fc5d07;
}


h1 {
    margin-top: 25px;
    font-size: 45px;
    /*text-align: center;*/
    padding-left: 2px;


}

h3 {

    /*text-align: center; */
    padding-bottom: 10px;
    font-size: 20px;
    color: maroon;

}

#img-caption {
    width: 400px;
    padding-left: 400px;
    padding-top: 10px;
    text-align: inherit;
    max-width: 100%;
    
    
}

#image {
    max-width: 100%;
    width: 32%;
    height: auto;
    display: block;
/*    margin-left: auto;
    margin-right: auto; */
    margin: auto;
    
}

#tribute-info {
    text-align: center;
    padding-top: 18px;
}

/*ul {
   text-align: center;
   padding-top: 18px; 
}*/

 li {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    
 }

 p {
     font-size: 22px;
     color: maroon;
     padding-top: 10px;
     padding-bottom: 10px;
 }

 i {
     font-style: italic;   
     padding-top: 10px;
     padding-bottom: 10px;
 }


 #foot-note {
     padding-bottom: 10px;
     padding-top: 15px;
 }